<!DOCTYPE html>
<html lang="en">
  <head>
    <title> UTC Converter</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
      <div>
          <H1> "UTC Converter"</H1>
        </div>
      </body>
    <form name="new_time" action="/">
      <div>
        <h2>time:</h2>
        <input type="time" name="time" />
      </div>

      <h2>
        <label>timezone</label>
        <input type="number" name="timezone" />
      </h2>
      <div>
          <button type="submit">Submit</button>
        </div>
     
    </form>
   
  </body>
<script>
  $(function(){
    $('form[name=new_time]').submit(function(){
      $.post($(this).attr('action'), $(this).serialize(), function(json) {
        alert(json);
      }, 'json');
      return false;
    });
  }); 
</script>

</html>
